<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.wemedia.mapper.WmNewsMaterialMapper">

    <insert id="saveRelations">
        insert into wm_news_material (material_id,news_id,type,ord)
        values
        <foreach collection="materialIds" index="ord" item="mid" separator=",">
            (#{mid},#{newsId},#{type},#{ord})
        </foreach>
    </insert>


<!--    <resultMap id="newsmaterial" type="com.heima.model.wemedia.pojos.WmNewsMaterial">-->
<!--        <id property="id" column="id"></id>-->
<!--        <result property="materialId" column="material_id"></result>-->
<!--        <result property="newsId" column="news_id"></result>-->
<!--        <result property="type" column="type"></result>-->
<!--        <result property="ord" column="ord"></result>-->
<!--    </resultMap>-->
    <select id="findNewsByMaterial"  resultType="int">
        SELECT count(*) FROM `wm_news_material` where material_id=#{materialId};
    </select>

</mapper>